.select span.main {
    border: 1px solid black;
    display: inline-block;
    min-height: 20px;
    min-width: 50px;
}

.items {
    position: absolute;
    padding: 2px;
    border: 1px solid black;
    border-radius: 5px;
}

.item.selected {
    background-color: rgba(157, 240, 255, 0.74);
}

.selectLi {
    cursor: pointer;
}

.selectLi:hover {
    background-color: rgba(157, 240, 255, 0.74);
}